[submodule "Development/Projects/Rust/gdtk"]
	path = Development/Projects/Rust/gdtk
	url = https://github.com/elenakrittik/gdtk.git
	branch = master
[submodule "Development/Projects/Rust/oxc"]
	path = Development/Projects/Rust/oxc
	url = https://github.com/oxc-project/oxc.git
	branch = main
[submodule "Development/Projects/Rust/ruff"]
	path = Development/Projects/Rust/ruff
	url = https://github.com/astral-sh/ruff.git
	branch = main
[submodule "Development/Projects/Rust/viewcolors"]
	path = Development/Projects/Rust/viewcolors
	url = https://github.com/elenakrittik/viewcolors.git
	branch = master
[submodule "Development/Projects/Python/disnake"]
	path = Development/Projects/Python/disnake
	url = https://github.com/DisnakeDev/disnake.git
	branch = master
